<div class="container">
    <div class="col-md-6 col-md-offset-3 loginBox">
        <h3>INFORMAÇÕES RESTRITAS</h3>
          <div class="form-group clearfix" >
              <div class="media">
                  <img src="https://static1.squarespace.com/static/51435924e4b02285c8b9c92d/t/558c96c3e4b03457461d0f2e/1508845725260/caiobraga-perfil.jpg" height="200px" class="figure-img img-fluid rounded" alt="Ronaldum Fenomenus">
                  <div class="media-body">
                    <h3>Ronaldum Fenomenus</h3>
                    <h5 class="mt-0">Jogador profissional de RPG</h5>
                    <p>18 anos</p>
                    <p>Homem</p>
                    <p>Campeão mundial do mundo</p>
                    
                  </div>
                </div>
          </div>
    </div>
  </div>